[gcode_macro _WAIT_CHAMBER_TEMP]
# This macro is needed to allow klipper populate a new value in the printer[...].temperature variable
# as each variables are populated only once at the beginning of every macro call
gcode:
    {% set chamber_sensor_enabled = printer["gcode_macro _USER_VARIABLES"].chamber_temperature_sensor_enabled %}

    {% if chamber_sensor_enabled %}
        {% set chamber_sensor_name = printer["gcode_macro _USER_VARIABLES"].chamber_temperature_sensor_name %}
        {% set SETPOINT_TEMP = params.TEMP|default(0)|float %}
        {% set CURRENT_TEMP = printer["temperature_sensor " ~ chamber_sensor_name].temperature|float %}

        {% if CURRENT_TEMP <= SETPOINT_TEMP %}
            RESPOND MSG="Heating up the chamber : {CURRENT_TEMP}/{SETPOINT_TEMP}"
            # G4 P{60000 * 1} # wait a minute and check again if called in a loop
            
            
            M106 S204

            # Instead of waiting a minute using dwell, shake bed for a minute
            {% set move_distance = 50|int %}
            {% set move_speed = 100|int %}

            # Small pattern at center
            # Find Y center point
            {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float ) / 2 %}
            
            # Set small pattern box around center point
            {% set y_center_min = y_center - (move_distance/2) %}
            {% set y_center_max = y_center + (move_distance/2) %}

            # Approximate calculation of how many iterations can be do in 1 minute
            {% set move_iterations =  (60 / ((move_distance * 2) / move_speed))|int|round(0)|int %}
            
            {% for i in range(move_iterations) %}
                G0 Y{y_center_min} F{move_speed * 60}
                G0 Y{y_center_max} F{move_speed * 60}
            {% endfor %} 

            M107
        {% endif %}
    {% endif %}